.navbarBrandText {
    font-family: 'Monomaniac One', sans-serif;
}

.brandText {
    font-family: 'Monomaniac One', sans-serif;
}


.homeNavbar {
    background-color: #ffffff00;

}

.searchNavbar {
    opacity: 45%;
}

.searchNavbar:focus {
    opacity: 100%;
}

.myPlusCircle {
    font-size: x-large;
}

.homeCardHover {
    transition: 0.2s all ease-out;
}

.homeListCardHover {
    transition: 0.2s all ease-out;
}

.homeCardHover:hover {
    transition: 0.2s all ease-in-out;
    box-shadow: 1px 1px 5px 5px rgba(139, 139, 139, 0.151);
    scale: 1.009;

}

.homeListCardHover:hover {
    transition: 0.2s all ease-in-out;
    box-shadow: 1px 1px 5px 5px rgba(139, 139, 139, 0.151);
    scale: 1.009;
}


.homeCardImg {
    width: 100%;
    object-fit: cover;
    transition: 0.2s scale ease-out;
}

.homeCardHover:hover .homeCardImg {
    transition: 0.2s scale ease-in;
    scale: 1.05;
}


.homeListCardImg {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition: 0.2s scale ease-out;
}


.homeListCardHover:hover .homeListCardImg {
    transition: 0.2s scale ease-in;
    scale: 1.1;
}



.homeCardFooter {
    font-size: small;
}

.customButtonPadding {
    padding-top: 0px !important;
    padding-bottom: 0px;
}

.buttonHoverShadow:hover {
    box-shadow: 1px 1px 10px 10px rgba(139, 139, 139, 0.151);

}

.titleRouterLink {
    text-decoration: none;
}

.cardTitleDivider {
    visibility: hidden;
    width: 0;
    height: 5px;
    transition: width .3s;
    opacity: 60%;
}

.cardTitle:hover .cardTitleDivider {
    visibility: visible;
    width: 100%;
    transition: width .3s;
}

.titleRouterLinkIcon {
    font-size: 1rem;
    /* transition: 0.1s all; */
}

/* .titleRouterLinkIcon:hover {
    opacity: 100% !important;
} */



.homeContainer {
    background-color: #ffffff48;
    box-shadow: 0 10px 25px #00000049;
    /* background-color: rgba(199, 199, 199, 0.5); */
    /* backdrop-filter: blur(2px); */
}


.timelineContainer {
    /* position: sticky; */
    /* top: 50vh; */
    overflow: auto;

}

.vis-timeline .vis-panel.vis-bottom .vis-axis {
    border: none;
}

/* .vis-panel.vis-top .vis-axis {
    border: none;
} */

.vis-timeline {
    border: none !important;
    min-height: 100%;
}

/* .vis-shadow .vis-top {
    visibility: visible !important;
} */

.vis-time-axis {
    box-shadow: 1px 1px 5px 5px rgba(131, 131, 131, 0.158);
}