.navbarBrandText {
    font-family: 'Monomaniac One', sans-serif;
}

.myPlusCircle {
    font-size: x-large;
}

.homeCardHover {
    transition: 0.2s all ease-out;
}

.homeCardHover:hover {
    transition: 0.2s all ease-in-out;
    box-shadow: 1px 1px 5px 5px rgba(139, 139, 139, 0.151);
    scale: 1.09;

}

.homeCardImg {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    transition: 0.2s scale ease-out;
}

.homeCardHover:hover .homeCardImg {
    transition: 0.2s scale ease-in;
    scale: 1.1;
}

.homeCardFooter {
    font-size: small;
}

.customButtonPadding {
    padding-top: 0px !important;
    padding-bottom: 0px;
}

.buttonHoverShadow:hover {
    box-shadow: 1px 1px 10px 10px rgba(139, 139, 139, 0.151);

}