.navbarBrandText {
    font-family: 'Monomaniac One', sans-serif;
}

.brandText {
    font-family: 'Monomaniac One', sans-serif;
}


.homeNavbar {
    backdrop-filter: blur(10px) grayscale(30%);
}

.searchNavbar {
    opacity: 100%;
}

.searchNavbar:focus {
    opacity: 100%;
}

.myPlusCircle {
    font-size: x-large;
}

.homeCardHover {
    transition: 0.2s all ease-out;
}

.homeListCardHover {
    transition: 0.2s all ease-out;
}

.homeCardHover:hover {
    transition: 0.2s all ease-in-out;
    scale: 1.009;


}

.homeListCardHover:hover {
    transition: 0.2s all ease-in-out;
    scale: 1.009;

}


.homeCardImg {
    width: 100%;
    object-fit: cover;
    transition: 0.2s all ease-out;
    filter: contrast(95%);
}

.homeCardHover:hover .homeCardImg {
    transition: 0.2s all ease-in;
    scale: 1.05;
    filter: contrast(110%);
}


.homeListCardImg {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition: 0.2s scale ease-out;
}


.homeListCardHover:hover .homeListCardImg {
    transition: 0.2s scale ease-in;
    scale: 1.1;
}

.homeCardFooter {
    font-size: small;
}

.customButtonPadding {
    padding-top: 0px !important;
    padding-bottom: 0px;
}

.buttonHoverShadow:hover {
    box-shadow: 1px 1px 10px 10px rgba(139, 139, 139, 0.151);

}

.titleRouterLink {
    text-decoration: none;
}

.cardTitleDivider {
    visibility: hidden;
    width: 0;
    height: 5px;
    transition: width .3s;
    opacity: 60%;
}

.cardTitle:hover .cardTitleDivider {
    visibility: visible;
    width: 100%;
    transition: width .3s;
}

.titleRouterLinkIcon {
    font-size: 1rem;
}

.homeBottomNavbar {
    background-color: #ffffffc4;
    backdrop-filter: blur(2px);
}



.homeContainer {
    border: black;
}

.eventsListCard {
    background-color: #8a8a8a7c;
    border: solid;
    border-width: 1.5px;
    border-color: rgba(168, 168, 168, 0.205);
    border-radius: 7px;

}

.eventsListCard:hover {
    transition: 0.1s all ease-in-out;
    background-color: #ffffff75;
    border-color: rgba(0, 0, 0, 0.466);
    box-shadow: 0px 0px 5px inset #3030301e;
}

.eventsListCardCol {
    background-color: #ffffff9f;
    border: solid;
    border-color: transparent;
    border-width: 0.5px;
    border-radius: 5px;
}

.eventsListCard:hover .eventsListCardCol {
    transition: 0.1s all ease-in-out;
    background-color: #8a8a8a50;
    color: black;
}

.eventsListCardCol:hover {
    transition: 0.1s all ease-in-out;
    border-color: rgba(0, 0, 0, 0.466);
    background-color: white !important;
    color: black !important;
}

.modal-content {
    background-color: #ffffffd8;
    backdrop-filter: blur(10px);
}

.eventsCreateModalInputs {
    background-color: #ffffffd7;
    box-shadow: 0 5px 10px #3030301e;
    border: solid;
    border-width: 1.5px;
    border-color: rgba(139, 139, 139, 0.205);
    border-radius: 7px;
}

.eventsCreateModalInputs:hover {
    transition: 0.1s border-color ease-in-out;
    background-color: #ffffff;

    border-color: rgba(139, 139, 139, 0.466);
}

.eventsPageOffcanvas {
    background-color: #ffffffcc;
    backdrop-filter: blur(10px);
}

.cardTimelineOptions {
    background-color: #ffffff13;
    backdrop-filter: blur(2px);
    box-shadow: 0 2px 10px #3030301e;
}

.eventDetailsCard {
    background-color: #ffffffd7;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 6px 6px -4px rgba(27, 27, 27, 0.459);

    border: none;
}

.eventCardDetailsFooter {
    background-color: transparent;

}

.timelineContainer {
    overflow: auto;
}

.vis-timeline .vis-panel.vis-bottom .vis-axis {
    border: none;
}

.vis-item {
    transition: 0.1s box-shadow ease-in-out;

}

.vis-item:hover {
    box-shadow: 0 1px 5px #00000049;

}

.vis-timeline {
    border: none !important;
    min-height: 100%;
}

.vis-time-axis {
    box-shadow: 1px 1px 5px 5px rgba(131, 131, 131, 0.158);
}