
$bg-color: hsla(0, 0%, 100%, 0.63);
$dot-color: hsla(0, 0%, 0%, 0.13);


$dot-size: 1px;
$dot-space: 44px;

body {
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}

// $bg-color2: hsl(0, 0%, 23%);
// $dot-color2: hsla(0, 0%, 69%, 0.466);

// .eventPage{
//     background:
//     linear-gradient(90deg, $bg-color2 ($dot-space - $dot-size), transparent 1%) center,
//     linear-gradient($bg-color2 ($dot-space - $dot-size), transparent 1%) center,
//     $dot-color2;
// background-size: $dot-space $dot-space;
// }

